.content {
    padding: 45px 55px;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    background: white;
    opacity: 0.8;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    font-size: 32px;
    line-height: 38px;
    z-index: 1;

    &__texture {
        color: #F39C12;
    }
}