.content {
    padding: 45px;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    background: white;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    font-size: 32px;
    z-index: 1;

    &__texture {
        color: orange;
    }
}