.items {
    padding: 35px 0;
    position: relative;
    z-index: 1;
    
    &__list {
        list-style: none;
        display: grid;
        gap: 20px;
    }

    li {

        &:nth-child(even) {

            div {
                background: #EFEFEF;
            }
        }
    }

    @media(min-width: '480px') {

        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    @media(min-width: '767px') {
        padding: 70px 0;

        &__list {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 40px;
        }
    }
}

