.items {
    padding: 70px 0;
    position: relative;
    z-index: 1;
    
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
    }

    li {

        &:nth-child(even) {

            div {
                background: #EFEFEF;
            }
        }
    }
}

