.header {
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 20px;
}

.logo {
    position: relative;
    width: 30px;
    height: 30px;
    background: blue;
    margin-right: auto;
}